<mat-toolbar>
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">GPGS</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li fxFlex="row">
                <a routerLink="/mapa">
                    <mat-icon>map</mat-icon> Mapa</a>
            </li>
            <li fxFlex="row">
                <a routerLink="/home">
                    <mat-icon>account_circle</mat-icon>
                </a>
            </li>
            <li fxFlex="row">
                <a routerLink="/home">
                    <mat-icon>logout</mat-icon>
                </a>
            </li>
        </ul>
    </div>
</mat-toolbar>