.content {
    padding: 16px;
}

.content>mat-card {
    width: 200px;
}

button {
    background-color: rgb(29, 191, 212);
    color: white;
    font-size: small;
    width: 100px;
}

mat-toolbar {
    background-color: rgb(29, 191, 212);
    color: white;
}